{% extends 'base.html' %}
{% block content %}

<div class="conatiner">
    <div class="row row-cols-md-3 g-4 justify-content-center" style="padding-left:5rem; padding-right:5rem; padding-top: 4rem;">
        <div class="card text-center" style="width: 18rem;">
            <img src="{{ mood_image }}" class="card-img-top" alt="{{selected_mood}}">
            <div class="card-body">
                {% if mood_messages != "" %}
            <h6 class="card-text">{{ mood_messages }}</h6>
                {% endif %}
            </div>
      
        </div>
    </div> 
</div>

{% endblock content%}