
{% extends 'base.html' %}

{% block content %}
<div class="cotainer" style="padding-top: 5rem;"> 
    <div class="row row-cols-md-3 g-4 justify-content-center " style="padding-left:5rem; padding-right:5rem;">
        <form action="/display_weather" method="GET">
            <fieldset>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="city" placeholder="Your City here" aria-label="Your City" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">check</button>
                  </div>
            </fieldset>
        </form>
    </div> 
</div>
{% endblock %}